@model IEnumerable<DoeVidaWeb.ViewModels.AgendamentoViewModel>

@{
    ViewData["Title"] = "Agendamentos";
}

<div id="main">
    <div id="header-action">
        <div id="search">
            <input placeholder="Digite o nome de um doador que deseja buscar"
                   type="text" name="search" id="input-search" />
            <i class="fas fa-search"></i>
        </div>
        <a asp-action="Create" id="button-new">Novo agendamento</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorarioAgendamento)
                </th>

                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPessoaNavigation.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HorarioAgendamento)
                    </td>
                    <td id="actions">
                        <a class="icon-action" href="Agendamento/Details/@item.IdAgendamento"><i class="fas fa-eye icon-action"></i></a>
                        <a class="icon-action" href="Agendamento/Edit/@item.IdAgendamento"><i class="fas fa-edit icon-action"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
